# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environments
.venv/
venv/
ENV/
env/

# Environment Variables & Secrets (CRITICAL for FastAPI)
.env
.env.*
!.env.example
.env_development
.env_production

# Database files (Common in FastAPI local development)
*.db
*.sqlite3

# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/

# Type Checking
.mypy_cache/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# folder for uploaded resumes
/temp_uploads

